<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shoppingcidado">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_logo_2"
        android:label="@string/APP_NAME"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo_2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingCidadão"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".Instrucoes"
            android:exported="true" />
        <activity
            android:name=".Escolha_carteira"
            android:exported="true" />
        <activity
            android:name=".DialogAlerta"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".DialogProgress"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Foto"
            android:exported="true" />
        <activity
            android:name=".Form_recuperacao_senha"
            android:exported="true" />
        <activity
            android:name=".TelaPrincipal"
            android:exported="true" />
        <activity
            android:name=".FormCadastro"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".FormLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.shoppingcidado"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>
    </application>

</manifest>